@import "variables";
@import "index";
button {
	padding: 20px 35px;
	border: none;
	border-radius: 50px;
	display: flex;
	align-items: center;
	width: max-content;
	justify-content: space-between;
	font-weight: 700;
	font-size: calc(var(--fontSize) / 2.2);
	cursor: pointer;
	.gap {
		width: 15px;
	}
}

.btn-primary {
	background-color: $primary;
	color: $secondary;
}

.btn-secondary {
	background-color: $secondary;
	color: $color-on-secondary;
}
.btn-tertiary {
	background-color: $tertiary;
	color: $color-on-tertiary;
}

.btn-no-bg {
	background-color: transparent;
}
