@import "variables";

.exandable-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $card-bg;
	color: $color-on-bg;
	margin: 16px 0;
	padding: 30px 20px 30px 30px;
	transition: all 0.3s;

	h4 {
		font-size: calc(var(--fontSize) / 1.46);
		transition: all 0.1s;
		line-height: 125%;
		text-align: left;
		width: 100%;
	}

	.top,
	.bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.bottom {
		transition: all 1s;

		p {
			font-size: 1.1rem;
			font-weight: 350;
			transition: all 1s;
		}
	}

	svg {
		min-width: 37px;
		fill: $primary;
		cursor: pointer;
	}

	.content {
		flex-grow: 1;
	}
}

.card {
	padding: 45px 45px 50px 45px;
	border-radius: 60px;
	max-width: 400px;
	min-width: 310px;

	img {
		max-width: 55px;
	}

	.container {
		margin-top: 25px;
		width: fit-content;

		h1 {
			font-size: calc(var(--fontSize) * 1.85);
			font-weight: 700;
		}

		h2 {
			margin-top: 10px;
			font-size: calc(var(--fontSize) / 1.5);
		}

		.details {
			margin-top: 15px;

			h4 {
				font-weight: 600;
				font-size: calc(var(--fontSize) / 1.6);
			}

			p {
				margin: 2px 0;
				font-size: calc(var(--fontSize) / 2.2);
				font-weight: 400;
			}
		}
	}
}

.all-cards-container {
	display: flex;
	flex-direction: column;
	gap: 4vw;
	width: 100%;
	align-self: center;

	.card-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
}

@media screen and (min-width: 410px) {
	.card {
		width: 350px;

		// make fonts static onwards
		h1 {
			font-size: 70px !important;
		}

		h2 {
			font-size: 25px !important;
		}

		h4 {
			font-size: 20px !important;
		}

		p {
			font-size: 17px !important;
		}
	}
}

@media screen and (min-width: 800px) {
	.card-container {
		flex-direction: row !important;
		justify-content: space-evenly;
		gap: 3vw !important;
	}
	.card {
		.container {
			margin-top: 0;
		}
	}
	.exandable-card h4 {
		font-size: 28px !important;
	}
}

@media screen and (min-width: 1050px) {
	.card-container {
		align-items: stretch;
		justify-content: stretch;
	}
	.card {
		min-width: unset;
		width: 250px;
		padding: 30px;
	}
}

@media screen and (min-width: 1350px) {
	.card {
		width: 300px;
		padding: 30px;
	}

	.all-cards-container {
		width: unset;
	}
}
