@import "variables";

.infobox {
	display: inline-flex;
	background-color: $infobox-bg;
	margin: 5px 16px 13px 0px;
	padding: 13px 30px 13px 17px;
	border-radius: 50px;
	align-items: center;
	max-width: max-content;
	font-weight: 600;

	svg {
		fill: $primary;
		margin-right: 5px;
		min-width: 20px;
	}
}
