@import "variables";

.review-container {
	display: flex;
	align-items: center;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: $review-bg;
	color: $color-on-tertiary;
	border-radius: 55px;
	padding: 25px;
	text-align: center;
	max-width: 450px;
	.img {
		margin-top: 7px;
		padding: 10px;
		img {
			width: 100%;
		}
	}

	p {
		font-size: calc(var(--fontSize) / 2.3);
	}

	.slider-container {
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-evenly;
		.slider {
			display: flex;
			gap: 30px;
		}
	}
}
